body {
    display        : flex;
    min-height     : 100vh;
    flex-direction : column;
}

main {
    flex           : 1 0 auto;
}

#stock1 {
    margin-top     : 1%;
    width          : 99.5%; 
    height         : 80%;
    border-style   : Solid;
    border-width   : 2px;
    border-color   : lightgrey;
}
#stock2 {
    margin-top     : 1%;
    width          : 100.5%;
    height         : 80%;
    border-style   : Solid;
    border-width   : 2px;
    border-color   : lightgrey;
}
#stock3 {
    margin-top     : 1%;
    width          : 100.5%;
    height         : 80%;
    border-style   : Solid;
    border-width   : 2px;
    border-color   : lightgrey;
}

.centerText {
    text-align : center;
}


