body {
    display        : flex;
    min-height     : 100vh;
    flex-direction : column;
}

main {
    flex           : 1 0 auto;
}

#stock1 {
    margin-top     : 1%;
    width          : 78.5%;
    height         : 80%;
}
#stock2 {
    margin-top     : 1%;
    width          : 210%;
}


